.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ingredients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 300px;
  text-align: center;
  border: 1px solid black;
  margin: 5px;

}

.status {
  color: white;
  font-weight:bold;
}

.legal {
  background-color: green;
}

.illegal {
  background-color: red;
}
